*{
    margin: 0;
    padding: 0;
}
.menu-bar{
    min-height: %;
    background: #ff9800;
}
.menu-bar img{
    width: 75px;

}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #000;
}
.active{
    color: #000 !important;
}
.banner{
    min-height: 77%;
    color: #555;
}
.banner img{
    width: 100%;
}
.info{
    margin: 24% auto;
}
.info h1{
    font-size: 30px;
}
.info a{
    width: 135px;
    color: #fff !important;
    text-decoration: none !important;
    padding: 15px 25px;
    margin: 5% 10px;
    background: #ff9800;
    display: inline-block;
}
.info .second-btn{
    border: 1px solid #ff9800 !important;
    background: transparent !important;
    color: #555 !important;
    transition: 0.5s;
}
.info .second-btn:hover{
    background: #ff9800 !important;
    color: #fff !important;
}